<div class="container">
    <h2 class="alert alert-succes mt-4">Sepetiniz</h2>
    <table class="table table-hover mt-4" >
        <thead>
            <tr>
                <th>#</th>
                <th>UrunAdi</th>
                <th>UrunResmi</th>
                <th>Islemler</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let basket of baskets let index = index">
                <td>{{index +1}}</td>
                <td>{{basket.urunAdi}}</td>
                <td><img [src]="basket.urunResmi" width="50px" height="50px"></td>
                <td><button class=" btn btn-outline-danger" (click)="delete(basket.id)">
                    <i class="fa fa-trash"></i>
                </button></td>
            </tr>
        </tbody>
    </table>
</div>
